
@{
  ViewBag.Title = "Cricket Insighter";
}
<link href="~/Content/Flatly/bootstrap.min.css" rel="stylesheet" />
@*<link href="~/Content/Darkly/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/myStyle.css" rel="stylesheet" />
<link href="~/Content/Login_popup/css/style.css" rel="stylesheet" />

<div class="container">

    @* login popup part till start of row stream *@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      // you can use just jquery for this
      $(document).ready(function(){
         $('#overlay-back').fadeIn(500,function(){
            $('#popup').show();
         });

         $(".close-image").on('click', function() {
            $('#popup').hide();
            $('#overlay-back').fadeOut(500);
         });
      });
    </script>

    <div id="overlay-back"></div>
    <div id="popup">

        <div class="modal-header login_modal_header">
            <button type="button" class="close-image" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 class="modal-title" id="myModalLabel">Login to Your Account</h5>
        </div>
        <div class="modal-body login-modal">

            <br />
            <div class="clearfix"></div>
            <div id='social-icons-conatainer'>
                <div class='modal-body-left'>
                    <div class="form-group">
                        <input type="text" id="username" placeholder="Enter your name" value="" class="form-control login-field" />
                        <i class="fa fa-user login-field-icon"></i>
                    </div>

                    <div class="form-group">
                        <input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field" />
                        <i class="fa fa-lock login-field-icon"></i>
                    </div>

                    <a href='@Url.Action("Index","Home")' class="btn btn-success modal-login-btn">Login</a>
                    <a href='@Url.Action("Index","Home")' class="login-link text-center">Lost your password?</a>
                </div>

                <div class='modal-body-right'>
                    <div class="modal-social-icons">
                        <a href='#' class="btn btn-default facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
                        <a href='#' class="btn btn-default twitter"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
                        <a href='#' class="btn btn-default google"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
                        <a href='#' class="btn btn-default linkedin"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
                    </div>
                </div>
                <div id='center-line'> OR </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group modal-register-btn">
                <button class="btn btn-default"> New User Please Register</button>
            </div>
        </div>

    </div>

    @*<div class="container bgImage" style="background: url('~/Content/images/cricket-vector.jpg') no-repeat; width: 100%; height: 150px; background-size: 100%;">*@
        <div class="row stream">
            <div class="col-lg-12 hero">

                <div class="hero-content">
                    <h1 class="clear">Where the Bees Go</h1>
                    <p>Worldwide, bees are disappearing at an alarming rate.  Join the National Society for Bee Protection in its fight against Colony Collapse Disorder and learn more about how you can save the bees.</p>
                </div>
            </div>
        </div>
    
    <div class="row rss">
        <div class="col-lg-5 fixtures">
            <h3>Today's Cricket</h3>
            <img src="~/Content/images/kholi.jpg" style="height:300px; width:460px; margin-top:20px;" />
            <p > Virat Kohli (About this sound pronunciation (help·info); born 5 November 1988) is an Indian international cricketer. He is a right-handed batsman and occasional right-arm medium pace bowler, who currently captains the Indian team in Test cricket and is its vice-captain in limited overs formats. In the Indian Premier League (IPL), he captains the Royal Challengers Bangalore. Often rated as one of the best batsmen in the world,[2] Kohli was ranked eighth in ESPN's list of world's most famous athletes in 2016.[3]</p>   

          
            <img src="~/Content/images/cricket-vector.jpg" style="height:300px; width:460px; margin-top:20px;" />
            <p> Virat Kohli (About this sound pronunciation (help·info); born 5 November 1988) is an Indian international cricketer. He is a right-handed batsman and occasional right-arm medium pace bowler, who currently captains the Indian team in Test cricket and is its vice-captain in limited overs formats. In the Indian Premier League (IPL), he captains the Royal Challengers Bangalore. Often rated as one of the best batsmen in the world,[2] Kohli was ranked eighth in ESPN's list of world's most famous athletes in 2016.[3]</p>

            <script type='text/javascript' src='http://image.vcricket.com/syndication.js?key=5547'></script>
        </div>
        <div class="col-lg-3 news">
            <h3>Let's Read</h3>
            @{ var counter = 0;}
            @foreach (var item in Model)
            {
                counter++;
                if (counter == 5)
                {       break;
                }
                <div class="RssFeeds">
                    <div class="title">
                        <a href="@item.Link" target="_blank">@Html.Encode(item.Title)</a>
                    </div>
                    <div style="color:white; background-color:dimgrey;">
                        <p>    @System.Web.HttpUtility.HtmlDecode(item.Description) </p>

                    </div>
                    <div class="more">
                        <a href="@item.Link" target="_blank">More</a>
                    </div>
                </div>
            }

        </div>
        <div class="col-lg-3 social">
            <h3>Let's Tweet</h3>
            <div class="tweets">
                <a class="twitter-timeline" href="https://twitter.com/OfficialPSL" data-widget-id="701294916715077632"></a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>

        </div>

    </div>


</div>
